<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="index.html" class="logo d-flex align-items-center me-auto">
            <span>
                <img src="/assets/img/logo.svg">
            </span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/pages/about.html">About</a></li>
                <li><a href="/pages/advantages.html">Advantages</a></li>
                <li><a href="/pages/products.html">Products</a></li>
                <li class="dropdown"><a href="#" class="dd-holder"><span>Services & Solutions</span> <i
                            class=" bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul class="d-xl-flex align-items-start">
                        <div>

                            <li><a href="/service-wireless.html">Wireless</a></li>
                            <li><a href="/service-inc.html">Instrumentation & Control</a></li>
                            <li><a href="/service-workstation.html">Workstation</a></li>
                            <li><a href="/service-server.html">Servers</a></li>
                            <li><a href="/service-fiberop.html">Fiber Optics</a></li>
                            <li><a href="/service-automation.html" class="active">Automation</a></li>
                        </div>
                        <div>
                            <li><a href="/service-software-dev.html" class="active">Software Development</a></li>
                            <li><a href="/solution-it-infra.html" class="active">Infrastructure & Integration</a></li>
                            <!-- <li><a href="/solution-network-mobility.html" class="active">Network & Mobility</a></li> -->
                            <li><a href="/solution-intelligent-security.html" class="active">Intelligent Security</a>
                            </li>
                            <li><a href="/solution-data-center.html" class="active">Data Center & Integrated
                                    Infrastructure</a></li>
                            <li><a href="/solution-serveillance.html" class="active">Thermal Surveillance & Security
                                    System
                                </a>
                            </li>
                            <!-- <li><a href="/solution-it-infra.html" class="active">Maintainance Of Facilities</a></li> -->
                            <li><a href="/solution-amc.html" class="active">Annual Maintainance Contract (AMC)</a>
                            </li>
                        </div>
                        </a>
                    </ul>
                </li>
                <li><a href="/pages/projects.html">Projects</a></li>
                <li><a href="/pages/whyUs.html">Why Us</a></li>
                <li><a href="/pages/contact.html">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <!-- <a class="btn-getstarted" id="enquiryButton" href="/pages/contact.html">Enquiry</a> -->

    </div>
</header>