<div class="service-box">
  <h4>Services</h4>
  <div class="services-list">
    <a href="/pages/services/service-wireless.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Wireless Solutions</span></a
    >
    <a href="/pages/services/service-inc.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Instrumentation and Control</span></a
    >
    <a href="/pages/services/service-workstation.html"
      ><i class="bi bi-arrow-right-circle"></i><span>Workstation</span></a
    >
    <a href="/pages/services/service-server.html"
      ><i class="bi bi-arrow-right-circle"></i><span>Servers</span></a
    >
    <a href="/pages/services/service-fiberop.html"
      ><i class="bi bi-arrow-right-circle"></i><span>Fiber Optics</span></a
    >
    <a href="/pages/services/service-automation.html"
      ><i class="bi bi-arrow-right-circle"></i><span>Automation</span></a
    >
    <a href="/pages/services/service-software-dev.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Software Development</span></a
    >
  </div>
</div>
