<div class="service-box">
  <h4>Solutions</h4>
  <div class="services-list">
    <a href="/pages/solutions/solution-serveillance.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Surveillance & Security</span></a
    >
    <a href="/pages/solutions/solution-data-center.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Data Center and Integrated Infrastructure</span></a
    >
    <a href="/pages/solutions/solution-it-infra.html" class="active"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Information Technology Infrastructures and Integration</span></a
    >
    <!-- <a href="/solution-network-mobility.html"><i class="bi bi-arrow-right-circle"></i><span>Enterprise
                Network & Mobility</span></a> -->
    <a href="/pages/solutions/solution-intelligent-security.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Intelligent Security Systems</span></a
    >
    <!-- <a href="/solution-maintainance.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Maintenance of Facilities</span></a
    > -->
    <a href="/pages/solutions/solution-amc.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Annual Maintainance Contract (AMC) </span></a
    >
    <a href="/pages/solutions/solutions-electric.html"
      ><i class="bi bi-arrow-right-circle"></i
      ><span>Comprehensive Electrical Solutions</span></a
    >
  </div>
</div>
